.item {
  list-style: none;
  font-size: 1.5rem;
}

.item a:hover {
  color: rgba(212, 212, 212, 0.865);
}

.list {
  display: flex;
  padding: 1em 0;
  gap: 1em;
}

.nav {
  border-bottom: 1px solid white;
  padding: 0 1rem;
}
