.container {
  border: 1px solid white;
  padding: 0.5em;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: row;
  margin: 0.3em;
}

.header span {
  flex-grow: 2;
}

.header button {
  padding: 0 0.5em;
  font-weight: bold;
}

.executionDetailsTable {
  margin: 1em;
  border-spacing: 0.5em;
}

.executionDetailsTable th {
  text-align: left;
}
